@font-face{
    font-family: 'Istok-Web';
    src: url(assets/fonts/IstokWeb-Regular.ttf);
    font-weight: 400;
}

body{
    max-width: 1920px;
    margin: 0 auto;
    background-color: #E9E7E7;
    color: #000000;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0 5px;
    border-bottom: 2px solid #000000;
    font-family: 'Istok-Web';
    margin: 0 0;
}

#statusText{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0 5px;
}

#game-board{
    display: list-item;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    background-color: #DDDADA;
    margin-right: 20px;
}

#Player_1_panel{
    display:grid;
    font-family: 'Istok-Web';
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    font-size: 15px;
    max-width: 300px;
    background-color: #E9E7E7;
    margin-right: 20px;
}

#Player_option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0 5px;
    font-size: 15px;
    max-width: 300px;
    background-color: #DDDADA;
}

#option{
    display: list-item;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 5px 0 5px;
    border-radius: 10px;
    padding: 37px;
    font-size: 15px;
    max-width: 300px;
    max-height: 50px;
    background-color: #DDDADA;
}

#Player_1_status{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 37px;
    font-size: 15px;
    max-width: 300px;
    background-color: #DDDADA;
}

#Playing_mode{
    display: list-item;
    align-items: center;
    border-radius: 10px;
    padding: 37px;
    font-size: 15px;
    max-width: 300px;
    max-height: 100px;
    background-color: #DDDADA;
}

#Player_2_panel{
    display: list-item;
    list-style: none;
    align-items: center;
    border-radius: 10px;
    font-size: 15px;
    max-width: 300px;
    background-color: #E9E7E7;
}

#Player_2_status{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 37px;
    font-size: 15px;
    max-width: 300px;
    background-color: #DDDADA;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
  }
  
  input:checked {
    border: 4px solid#AE26DE;
  }

.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    border-radius: 10px;
    color: #AE26DE;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#board{
    margin-top: 1px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0 5px;
    line-height: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: "Istok-Web";
    text-align: center;
    justify-content: center;
}

#cells{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin-left: 17px;
}

#donateBtn{
    background-color: #AE26DE;
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: "Istok-Web";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    width: 80px;
    height: 40px;
    line-height: 20px;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    color: #E9E7E7;
    border-bottom: 2px solid #000000;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 10px;
}

#donateBtn:hover,
#donateBtn:focus {
  background-color: #CF65F4;
}

#reportBtn{
    background-color: #AE26DE;
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: "Istok-Web";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    width: 80px;
    height: 40px;
    line-height: 20px;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    color: #E9E7E7;
    border-bottom: 2px solid #000000;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 10px;
}

#reportBtn:hover,
#reportBtn:focus {
  background-color: #CF65F4;
}

#restartBtn {
    margin-top: 10px;
    background-color: #AE26DE;
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: "Istok-Web";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    width: 80px;
    height: 40px;
    line-height: 20px;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    color: #E9E7E7;
    border-bottom: 2px solid #000000;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 10px;
}

#restartBtn:hover,
#restartBtn:focus {
  background-color: #CF65F4;
}

#contact-frame{
    border-top: 2px solid #000000;
    display: flex;
    justify-content: center;
    font-family: 'Istok-Web';
    border-bottom: 2px solid #000000;
}

#contact-content{
    display: flex;
}

#donate-frame{
    margin-right: 300px;
}

#report-frame{
    margin: 0;
}

.footer_wrapper {
    display: flex;
    justify-content: center;
    background-color: #D36A3D;
    color: white;
    font-family: 'Istok-Web';
    height: 100px;
}

.footer-content_wrapper {
    display: flex;
    width: 300px;
    padding: 5px 30px;
}

.description,
.footer_link {
    font-size: 10px;
}

.footer_link {
    color:white;
    text-decoration: none;
    font-family: 'Istok-Web';
}

.social-icon_list{
    font-size: 0px;
    margin: 0;
}

.footer_link-wrapper{
    margin: 0;
}

.footer-logo_wrapper{
    margin-right: 72px;
}